<%- include ("../partials/adminnavbar.ejs") -%>

<style>
	body {
  background-color: #ece5da;
  text-align: center;
}

h3 {
  /* margin: 20px; */
  font-family: "Paytone One";
  color: #202020;
  text-transform: uppercase;
  letter-spacing: -2px;
}

h3 span {
  display: block;
  margin: 11px 0 17px 0;
  font-size: 60px;
  line-height: 60px;
  color: #f1ebe5;
  text-shadow: 0 13.36px 8.896px #9f937e,0 -2px 1px #fff;
  letter-spacing: -4px;
}

.dynamic-text-shadow {
  /*  larger font size, more shadow distance  */
  color: #2c2c2c;
    letter-spacing: .05em;
    text-shadow: 
      4px 4px 0px #d5d5d5, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
}
</style>
  <div class="content">
		<div class="title">
			<h2 class="dynamic-text-shadow">FERROBARBER</h2>
		</div>
  	<h3><span>
		AN ONLINE BARBER RESERVATION WITH SCHEDULLING SYSTEM
	</h3></span>
  </div>
  </body>
  

