<%- include ("../partials/_header2.ejs") -%>

<!-- <br />
<body style="background-color:rgb(210, 221, 222);">

    <!DOCTYPE html>
    <html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: black;
    }
    
    * {
      box-sizing: border-box;
    }
    
    /* Add padding to containers */
    .container {
      padding: 16px;
      background-color: rgb(132, 102, 154);
      width: 500px;
      color: white;
      text-align:center;
    }
    
    /* Full-width input fields */
    input[type=text], input[type=password] {
      width: 80%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
    }
    
    input[type=text]:focus, input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }

    select[type=text]{
      width: 80%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
    }
    
    select[type=text]:focus{
      background-color: #ddd;
      outline: none;
    }

    select{
      width: 80%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
    }
    
    /* Overwrite default styles of hr */
    hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
    }
    
    /* Set a style for the submit button */
    .registerbtn {
      background-color: #3a363c;
      color: white;
      padding: 16px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 80%;
      opacity: 0.9;
    }
    
    .registerbtn:hover {
      opacity: 1;
    }
    
    /* Add a blue text color to links */
    a {
      color: dodgerblue;
    }
    
    /* Set a grey background color and center the text of the "sign in" section */
    .signin {
      background-color: #f1f1f1;
      text-align: center;
    }
    #example1 {
        /* border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px;
        color:rgb(243, 229, 229); */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    </style>
    </head>
    <body>
    
  <form method="post" action="/api/barbershops/register">
      <div id="example1" class="container">
        <h1><center><strong>Sign Up</strong></center></h1>
        <p><center>Please fill in this form to create an account.</center></p>
        <hr>

        <input type="text" placeholder="Barbershop Email" name="email" id="email" required>

        <input type="password" placeholder="Password" name="password" id="psw" required>

        <input type="text" placeholder="Barbershop Name" name="barbershopName" id="psw-repeat" required>

        <input type="text" placeholder="Barbershop Telephone Number" name="barbershopContact" id="email" required>

        <input type="text" placeholder="Barbershop Address" name="barbershopAddress" id="psw" required>

        <input type="text" placeholder="Barbershop Longtitud" name="long" id="psw" required>

        <input type="text" placeholder="Barbershop Langtitud" name="lat" id="psw" required>

        <select type="text" class="form-select" name="barbershopState" required>
            <option value="" disabled selected>Barbershop State</option>
            <option value="Kelantan">Kelantan</option>
            <option value="Pahang">Pahang</option>
            <option value="Kedah">Kedah</option>
            <option value="Perak">Perak</option>
            <option value="Malacca">Malacca</option>
            <option value="Sabah">Sabah</option>
            <option value="Sarawak">Sarawak</option>
            <option value="Selangor">Selangor</option>
            <option value="Perlis">Perlis</option>
        </select>

        <button type="submit" class="registerbtn">Sign Up</button>
        <hr>
  </form>
        <p><center>Already have an acoount?</center></p>
        <a  href="/barbershops/login"> 
          <button class="buttons button2" type="button">Log In</button>
        </a>
      </div>

    <br>
    
    </body>
    </html>
     -->
<br>
     <style>

      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }
      
      body {
        margin: 0;
        font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
        background: #1c1e25;
      }
      
      .forms-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .section-title {
        font-size: 32px;
        letter-spacing: 1px;
        color: #fff;
        font-family:'Courier New', Courier, monospace;
      }
      
      .forms {
        display: flex;
        align-items: flex-start;
        margin-top: 30px;
      }
      
      .form-wrapper {
        animation: hideLayer .3s ease-out forwards;
      }
      
      .form-wrapper.is-active {
        animation: showLayer .3s ease-in forwards;
      }
      
      @keyframes showLayer {
        50% {
          z-index: 1;
        }
        100% {
          z-index: 1;
        }
      }
      
      @keyframes hideLayer {
        0% {
          z-index: 1;
        }
        49.999% {
          z-index: 1;
        }
      }
      
      .switcher {
        position: relative;
        cursor: pointer;
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding: 0;
        text-transform: uppercase;
        font-family: inherit;
        font-size: 16px;
        letter-spacing: .5px;
        color: #999;
        background-color: transparent;
        border: none;
        outline: none;
        transform: translateX(0);
        transition: all .3s ease-out;
      }
      
      .form-wrapper.is-active .switcher-login {
        color: #fff;
        transform: translateX(90px);
      }
      
      .form-wrapper.is-active .switcher-signup {
        color: #fff;
        transform: translateX(-90px);
      }
      
      .underline {
        position: absolute;
        bottom: -5px;
        left: 0;
        overflow: hidden;
        pointer-events: none;
        width: 100%;
        height: 2px;
      }
      
      .underline::before {
        content: '';
        position: absolute;
        top: 0;
        left: inherit;
        display: block;
        width: inherit;
        height: inherit;
        background-color: currentColor;
        transition: transform .2s ease-out;
      }
      
      .switcher-login .underline::before {
        transform: translateX(101%);
      }
      
      .switcher-signup .underline::before {
        transform: translateX(-101%);
      }
      
      .form-wrapper.is-active .underline::before {
        transform: translateX(0);
      }
      
      .form {
        overflow: hidden;
        min-width: 400px;
        margin-top: 50px;
        padding: 30px 25px;
        border-radius: 5px;
        transform-origin: top;
      }
      
      .form-login {
        animation: hideLogin .3s ease-out forwards;
      }
      
      .form-wrapper.is-active .form-login {
        animation: showLogin .3s ease-in forwards;
      }
      
      @keyframes showLogin {
        0% {
          background: #d7e7f1;
          transform: translate(40%, 10px);
        }
        50% {
          transform: translate(0, 0);
        }
        100% {
          background-color: #fff;
          transform: translate(35%, -20px);
        }
      }
      
      @keyframes hideLogin {
        0% {
          background-color: #fff;
          transform: translate(35%, -20px);
        }
        50% {
          transform: translate(0, 0);
        }
        100% {
          background: #d7e7f1;
          transform: translate(40%, 10px);
        }
      }
      
      .form-signup {
        animation: hideSignup .3s ease-out forwards;
      }
      
      .form-wrapper.is-active .form-signup {
        animation: showSignup .3s ease-in forwards;
      }
      
      @keyframes showSignup {
        0% {
          background: #d7e7f1;
          transform: translate(-40%, 10px) scaleY(.8);
        }
        50% {
          transform: translate(0, 0) scaleY(.8);
        }
        100% {
          background-color: #fff;
          transform: translate(-35%, -20px) scaleY(1);
        }
      }
      
      @keyframes hideSignup {
        0% {
          background-color: #fff;
          transform: translate(-35%, -20px) scaleY(1);
        }
        50% {
          transform: translate(0, 0) scaleY(.8);
        }
        100% {
          background: #d7e7f1;
          transform: translate(-40%, 10px) scaleY(.8);
        }
      }
      
      .form fieldset {
        position: relative;
        opacity: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: all .3s ease-out;
      }
      
      .form-login fieldset {
        transform: translateX(-50%);
      }
      
      .form-signup fieldset {
        transform: translateX(50%);
      }
      
      .form-wrapper.is-active fieldset {
        opacity: 1;
        transform: translateX(0);
        transition: opacity .4s ease-in, transform .35s ease-in;
      }
      
      .form legend {
        position: absolute;
        overflow: hidden;
        width: 1px;
        height: 1px;
        clip: rect(0 0 0 0);
      }
      
      .input-block {
        margin-bottom: 20px;
      }
      
      .input-block label {
        font-size: 14px;
        color: #a1b4b4;
      }
      
      .input-block input {
        display: block;
        width: 100%;
        margin-top: 8px;
        padding-right: 15px;
        padding-left: 15px;
        font-size: 16px;
        line-height: 40px;
        color: #3b4465;
        background: #eef9fe;
        border: 1px solid #cddbef;
        border-radius: 2px;
      }
      
      .form [type='submit'] {
        opacity: 0;
        display: block;
        min-width: 120px;
        margin: 30px auto 10px;
        font-size: 18px;
        line-height: 40px;
        border-radius: 25px;
        border: none;
        transition: all .3s ease-out;
      }
      
      .form-wrapper.is-active .form [type='submit'] {
        opacity: 1;
        transform: translateX(0);
        transition: all .4s ease-in;
      }
      
      .btn-login {
        color: #fbfdff;
        background: #526731;
        transform: translateX(-30%);
      }
      
      .btn-signup {
        color: #526731;
        background: #fbfdff;
        box-shadow: inset 0 0 0 2px #526731;
        transform: translateX(30%);
      }
      
      </style>
      
      <section class="forms-section">
          <h1 class="section-title">BARBERSHOP</h1>
          <div class="forms">
            <div class="form-wrapper is-active">
              <button type="button" class="switcher switcher-login">
                Login
                <span class="underline"></span>
              </button>
              <form class="form form-login" method = "post"  action="/api/barbershops/login">
                <fieldset>
                  <legend>Please, enter your email and password for login.</legend>
                  <div class="input-block">
                    <label for="login-email">Barbershop E-mail</label>
                    <input type="text" placeholder="Barbershop Email" name="email" id="email" required>
                  </div>
                  <div class="input-block">
                    <label for="login-password">Password</label>
                    <input type="password" placeholder="Password" name="psw" id="psw" required>
                  </div>
                </fieldset>
                <button type="submit" class="btn-login">Sign In</button>
              </form>
            </div>
            <div class="form-wrapper">
              <button type="button" class="switcher switcher-signup">
                Sign Up
                <span class="underline"></span>
              </button>
                <form class="form form-signup" method="post" action="/api/barbershops/register">
                <fieldset>
                  <legend>Please, enter your email, password and password confirmation for sign up.</legend>
                  <div class="input-block">
                    <label for="signup-email">Barbershop Email</label>
                    <input type="text" placeholder="Barbershop Email" name="email" id="email" required>
                  </div>
                  <div class="input-block">
                    <label for="signup-password">Password</label>
                    <input type="password" placeholder="Password" name="password" id="psw" required>
                  </div>
                  <div class="input-block">
                    <label for="signup-password-confirm">Barbershop Name</label>
                    <input type="text" placeholder="Barbershop Name" name="barbershopName" id="psw-repeat" required>
                  </div>
                  <div class="input-block">
                    <label for="signup-password-confirm">Barbershop Telephone Number</label>
                    <input type="text" placeholder="Barbershop Telephone Number" name="barbershopContact" id="email" required>
                  </div>
                  <div class="input-block">
                    <label for="signup-password-confirm">Barbershop Address</label>
                    <input type="text" placeholder="Barbershop Address" placeholder="Barbershop Email" name="barbershopAddress" id="psw" required>
                  </div>
                  <div class="input-block">
                    <label for="signup-password-confirm">Barbershop Longtitud</label>
                    <input type="text" placeholder="Barbershop Longtitud" name="long" id="psw" required>
                  </div>
                  <div class="input-block">
                    <label for="signup-password-confirm">Barbershop Langtitud</label>
                    <input type="text" placeholder="Barbershop Langtitud" name="lat" id="psw" required>
                  </div>
                  <div class="input-block">
                    <label for="signup-password-confirm">BarbershopState</label>
                    <select type="text" class="form-select" name="barbershopState" required>
                      <option value="" disabled selected>Barbershop State</option>
                      <option value="Kelantan">Kelantan</option>
                      <option value="Pahang">Pahang</option>
                      <option value="Kedah">Kedah</option>
                      <option value="Perak">Perak</option>
                      <option value="Malacca">Malacca</option>
                      <option value="Sabah">Sabah</option>
                      <option value="Sarawak">Sarawak</option>
                      <option value="Selangor">Selangor</option>
                      <option value="Perlis">Perlis</option>
                  </select>
                  </div>
                </fieldset>
                <button type="submit" class="btn-signup">Sign Up</button>
              </form>
            </div>
          </div>
        </section>
      
      <script>
          
          const switchers = [...document.querySelectorAll('.switcher')]
      
      switchers.forEach(item => {
        item.addEventListener('click', function() {
          switchers.forEach(item => item.parentElement.classList.remove('is-active'))
          this.parentElement.classList.add('is-active')
        })
      })
      
      </script>