<%- include ("../partials/_header1.ejs") -%>

<br />
<body style="background-color:rgb(210, 221, 222);">

    <!DOCTYPE html>
    <html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
    <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: black;
    }
    
    * {
      box-sizing: border-box;
    }
    
    /* Add padding to containers */
    .container {
      padding: 16px;
      background-color: rgb(132, 102, 154);
      width: 500px;
      color: white;
      text-align:center;
    }
    
    /* Full-width input fields */
    input[type=text], input[type=password] {
      width: 80%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
    }
    
    input[type=text]:focus, input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }
    
    /* Overwrite default styles of hr */
    hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
    }
    
    /* Set a style for the submit button */
    .registerbtn {
      background-color: #3a363c;
      color: white;
      padding: 16px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 80%;
      opacity: 0.9;
    }
    
    .registerbtn:hover {
      opacity: 1;
    }
    
    /* Add a blue text color to links */
    a {
      color: dodgerblue;
    }
    
    /* Set a grey background color and center the text of the "sign in" section */
    .signin {
      background-color: #f1f1f1;
      text-align: center;
    }
    #example1 {
        /* border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px;
        color:rgb(243, 229, 229); */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    </style>
    </head>
    <body>
    
    <form method = "post" action="/api/customers/login">
      <div id="example1" class="container">
        <h1><center><strong>Sign In</strong></center></h1>
        <p><center>Make sure your Username and Password are correct!</center></p>
        <hr>

        <input type="text" placeholder="Email" name="email" id="email" required>

        <input type="password" placeholder="Password" name="psw" id="psw" required>
        
        <button type="submit" class="registerbtn">Sign In</button>
      </div>
    </form>
    
    </body>
    </html>
    